body {
    font-family: sans-serif;
    color: cadetblue;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 1em 0;
}

.button {
    background-color: darkcyan;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: .5em;
    padding: .5em 3em;
    border: 0
}

footer {
    margin-top: 2em;
}